@font-face {
  font-family: "PoppinsBold";
  src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsRegular";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsThin";
  src: url("./assets/fonts/Poppins-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsExtraLight";
  src: url("./assets/fonts/Poppins-ExtraLight.ttf") format("truetype");
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #06030b;
  color: rgba(233, 227, 240, 0.9);
  padding: 0 64px;
  overflow-x: hidden;
}

h1 {
  font-size: 100px;
  font-family: PoppinsBold;
}

h2 {
  font-size: 88px;
  font-family: PoppinsThin;
}

h3 {
  font-size: 64px;
  font-family: PoppinsBold;
}

p {
  font-size: 24px;
  font-family: PoppinsRegular;
}

a {
  text-decoration: none;
  color: rgba(233, 227, 240, 0.9);
  font-size: 48px;
  font-family: PoppinsExtraLight;
  border: 2px solid rgba(233, 227, 240, 0.9);
  padding: 12px 36px;
}

/*#model canvas {*/
/*position: fixed;*/
/*z-index: -1;*/
/*left: 50%;*/
/*top: 50%;*/
/*transform: translate(-50%, -50%);*/
/*}*/
